<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/welcome" method="post">
        <section>
            <label for="fName">Name:</label>
            <input type="text" id="fName" name="firstname">
            <label for="lName">Surname:</label>
            <input type="text" id="lName" name="lastname">
        </section>
        <button>Search</button>
    </form>
</body>
</html>